<ng-container *ngIf="mails$ | async as mails">
  <div
    class="wrapper"
    *lpjAnimationScope="animationScope"
    lpjNode
    [lpjAnimation]="{ duration: 225, easing: AnimationCurves.STANDARD_CURVE }"
    [lpjAnimationTrigger]="mails"
  >
    <rpl-mail-card
      *ngFor="let mail of mails; let index = index; trackBy: mailTracker"
      [mail]="mail"
      lpjNode="mail-{{ mail.id }}"
      [style.zIndex]="(mailPrevId$ | async) === mail.id ? 1 : null"
    ></rpl-mail-card>
  </div>
</ng-container>
