<ng-container *ngIf="mails$ | async as mails">
  <div
    class="wrapper"
    libLayoutProjectionNode
    [animateLayoutOn]="mails"
    [animationDuration]="225"
    [animationEasing]="AnimationCurves.STANDARD_CURVE"
  >
    <rpl-mail-card
      *ngFor="let mail of mails; let index = index; trackBy: mailTracker"
      [mail]="mail"
      libLayoutProjectionNode="mail-{{ mail.id }}"
      [style.zIndex]="(mailPrevId$ | async) === mail.id ? 1 : null"
    ></rpl-mail-card>
  </div>
</ng-container>
