@use '@angular/material' as mat;
@use 'styles/theming' as theming;

:host {
  display: inline-block;
}

[mat-fab] {
  $diameter: 56px;
  width: $diameter;
  height: $diameter;
  box-shadow: none !important;
  border-radius: calc($diameter / 2);

  :host.expanded & {
    width: unset;
    padding: 0 18px;
  }
}

.icon {
  line-height: 0; // height would go wrong if line-height is not set to 0
}

.text {
  margin: 0 16px;
  // TODO: use theme typography config
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  :not(:host.expanded) & {
    display: none;
  }
}
