@use '@angular/material' as mat;
@use 'theming' as theming;

@import 'https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;900&display=swap';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

@include mat.core(theming.$typography-config);
@include mat.all-component-themes(theming.$theme);

body {
  margin: 0;
  overscroll-behavior: none;
}

a {
  color: currentColor;
  text-decoration: initial;
  &:focus-visible {
    outline: none;
  }
}

// Fix material button content positioning
.mat-icon-button .mat-button-wrapper {
  display: inline-block;
  transform: translateY(-2px);
}
.mat-fab .mat-button-wrapper {
  height: 100%;
  display: inline-flex !important;
  align-items: center;
  padding: initial !important;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Prevent <router-outlet> elements from interfering the layout because they
// can be "blocks" in certain layouts although they should be "inline".
router-outlet {
  display: none;
}
