@use 'sass:map' as map;
@use 'sass:color' as color;
@use 'src/styles/theming' as theming;

$primary-color: map.get(theming.$theme, 'color', 'primary', 'default');
$primary-contrast-color: map.get(
  theming.$theme,
  'color',
  'primary',
  'default-contrast'
);
$primary-text-color: color.change($primary-contrast-color, $alpha: 0.87);

:host {
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 4px;
  position: relative;
  z-index: 2000; // make nav on top of overlay
  color: $primary-text-color;
  :host-context(.tablet-portrait) & {
    height: unset;
    flex-direction: column;
    gap: 16px;
    padding: 8px 0;
  }
  :host-context(.laptop) & {
    align-items: flex-start;
    padding: 8px 16px;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $primary-color;
  z-index: -1;

  &.regular {
    display: none;
    :host-context(.tablet-portrait) & {
      display: initial;
    }
  }
  &.clipped {
    :host-context(.tablet-portrait) & {
      display: none;
    }
  }
}

.primary-line {
  display: flex;
  align-items: center;
  :host-context(.laptop) & {
    width: 100%;
    justify-content: space-between;
  }

  .group {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .avatar {
    display: none;
    :host-context(.laptop) & {
      display: initial;
    }
  }

  .settings-button {
    display: none;
    :host-context(.laptop) & {
      display: initial;
    }
  }
}

.fab {
  width: 56px;
  height: 56px;
  border-radius: 28px;
  box-shadow: none !important;

  position: absolute;
  left: calc(50% - 28px);
  top: -28px;

  :host-context(.tablet-portrait) & {
    position: unset;
  }

  :host-context(.laptop) & {
    width: unset;
    padding: 0 18px;
  }

  .text {
    display: none;
    :host-context(.laptop) & {
      display: initial;
      margin: 0 16px;
      font-size: 16px;
      font-weight: 900;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }
}

.logo {
  border-radius: 16px;
  padding: initial;

  &-content {
    display: flex;
    align-items: center;
    padding: 4px 16px;
    :host-context(.tablet-portrait) & {
      padding: 16px 16px;
    }
  }
  &-arrow {
    :host-context(.tablet-portrait) & {
      display: none;
    }
  }
  &-icon {
    width: 32px;
    height: 32px;
  }
  &-text {
    display: none;
    :host-context(.laptop) & {
      display: initial;
      margin-left: 16px;
      font-size: 20px;
      text-transform: uppercase;
    }
  }
}

.side-menu {
  display: none;
  :host-context(.tablet-portrait) & {
    display: initial;
    width: 100%;
  }
}

.divider {
  display: none;
  :host-context(.laptop) & {
    display: initial;
    width: calc(100% - 32px);
    margin: 0 16px;
    border-top: 1px solid color.change($primary-contrast-color, $alpha: 0.12);
  }
}

.bottom-menu {
  width: 100vw;
  height: 60vh;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: $primary-color;
  color: $primary-text-color;
  overflow: hidden;

  .avatar-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    $background-color: map.get(theming.$theme, 'color', 'primary', 'darker');

    .bar-background {
      height: 20px;
      width: 100%;
      background-color: $background-color;
    }

    .wrapper-background {
      $svgPath: 'M26.5 17C20.5 6.5 8.5 0.5 0 0.5H103C94.5 0.5 82.5 6.5 76.5 17C70.5 27.5 64.5 35 51.5 35C38.5 35 32.5 27.5 26.5 17Z';
      width: 103px;
      height: 35px;
      clip-path: path($svgPath);
      background-color: $background-color;
      transform: translateY(-1px); // remove white gap
    }

    .avatar {
      position: absolute;
      left: 50%;
      top: 48%;
      transform: translateY(-50%) translateX(-50%);
    }
  }

  .content {
    width: calc(100% - 8px * 2);
    margin: 0 auto;
  }
}
