@use 'sass:map' as map;
@use 'src/styles/theming' as theming;

:host {
  height: 56px;
  display: flex;
  align-items: center;
  background-color: map.get(theming.$theme, 'color', 'primary', 'default');
  color: map.get(theming.$theme, 'color', 'primary', 'default-contrast');
  padding: 0px 16px;
  :host-context(.tablet-portrait) {
    height: unset;
    display: block;
    padding: 8px 0px;
  }
  :host-context(.laptop) {
    padding: 8px 16px;
  }
}

.heading {
  display: flex;
  :host-context(.tablet-portrait) & {
    justify-content: center;
  }
  :host-context(.laptop) & {
    justify-content: initial;
  }
}

.logo {
  border-radius: 16px;
  padding: initial;

  &-content {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 16px;
    :host-context(.tablet-portrait) & {
      padding: 16px 16px;
    }
  }
  &-icon {
    width: 32px;
    height: 32px;
  }
  &-text {
    display: none;
    font-size: 20px;
    text-transform: uppercase;
    :host-context(.laptop) & {
      display: initial;
    }
  }
}
