@use 'sass:map' as map;
@use 'sass:color' as color;
@use 'src/styles/theming' as theming;

$primary-color: map.get(theming.$theme, 'color', 'primary', 'default');
$primary-contrast-color: map.get(
  theming.$theme,
  'color',
  'primary',
  'default-contrast'
);
$accent-color: map.get(theming.$theme, 'color', 'accent', 'default');

@mixin container-colors() {
  background-color: $primary-color;
  color: color.change($primary-contrast-color, $alpha: 0.87);
}

:host {
  @include container-colors();
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 4px;
  position: relative;
  z-index: 2000; // make nav on top of overlay
  :host-context(.tablet-portrait) {
    height: unset;
    flex-direction: column;
    gap: 16px;
    padding: 8px 0;
  }
  :host-context(.laptop) {
    align-items: flex-start;
    padding: 8px 16px;
  }
}

.fab {
  width: 56px;
  height: 56px;
  border-radius: 28px;
  box-shadow: none !important;

  position: absolute;
  left: calc(50% - 28px);
  top: -28px;

  :host-context(.tablet-portrait) & {
    position: unset;
  }

  :host-context(.laptop) & {
    width: unset;
    padding: 0 18px;
  }

  .text {
    display: none;
    :host-context(.laptop) & {
      display: initial;
      margin: 0 16px;
      font-size: 16px;
      font-weight: 900;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }
}

.logo {
  border-radius: 16px;
  padding: initial;

  &-content {
    display: flex;
    align-items: center;
    padding: 4px 16px;
    :host-context(.tablet-portrait) & {
      padding: 16px 16px;
    }
  }
  &-arrow {
    :host-context(.tablet-portrait) & {
      display: none;
    }
  }
  &-icon {
    width: 32px;
    height: 32px;
  }
  &-text {
    display: none;
    :host-context(.laptop) & {
      display: initial;
      margin-left: 16px;
      font-size: 20px;
      text-transform: uppercase;
    }
  }
}

.side-menu {
  display: none;
  :host-context(.tablet-portrait) & {
    display: initial;
    width: 100%;
  }
}

.divider {
  display: none;
  :host-context(.laptop) & {
    display: initial;
    width: calc(100% - 32px);
    margin: 0 16px;
    border-top: 1px solid color.change($primary-contrast-color, $alpha: 0.12);
  }
}

.bottom-menu {
  @include container-colors();
  width: 100vw;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 32px 8px;
}

.menu-content {
  &-item {
    color: inherit;
    &.active {
      color: $accent-color;
    }

    ::ng-deep {
      .mat-list-item-content {
        padding: 0 16px;
        :host-context(.tablet-portrait) & {
          padding: initial;
          justify-content: center;
        }
        :host-context(.laptop) & {
          padding: 0 16px;
        }
      }

      .mat-list-text {
        :host-context(.tablet-portrait) & {
          display: none;
        }
        :host-context(.laptop) & {
          display: initial;
        }
      }
    }
  }
}
