<ng-container *ngIf="breakpointManager.breakpoints$ | async as breakpoints">
  <div
    class="background"
    [class.clipped]="!breakpoints['tablet-portrait'] && !bottomMenuOpened"
  ></div>

  <div class="content">
    <div class="primary-line">
      <div class="group">
        <button mat-button class="logo" (click)="logoClick$.emit()">
          <div class="logo-content">
            <mat-icon
              class="logo-arrow"
              fontSet="filled"
              fontIcon="arrow_drop_up"
              [@arrow]="!!bottomMenuOpened"
            ></mat-icon>
            <mat-icon class="logo-icon" svgIcon="logo"></mat-icon>
            <span class="logo-text">Reply</span>
          </div>
        </button>
      </div>
      <div class="group" *ngIf="breakpoints['laptop']">
        <rpl-nav-avatar></rpl-nav-avatar>
        <rpl-settings-button></rpl-settings-button>
      </div>
      <div
        class="group"
        *ngIf="!breakpoints['tablet-portrait']"
        [@bottomActions]="bottomMenuOpened"
      >
        <rpl-settings-button *ngIf="bottomMenuOpened"></rpl-settings-button>
        <rpl-search-button *ngIf="!bottomMenuOpened"></rpl-search-button>
      </div>
    </div>

    <button mat-fab class="fab" *ngIf="!bottomMenuOpened" @fab>
      <mat-icon class="icon" fontSet="filled" fontIcon="edit"></mat-icon>
      <span class="text">Compose</span>
    </button>

    <div class="side-menu" *ngIf="breakpoints['tablet-portrait']">
      <rpl-nav-menu></rpl-nav-menu>
    </div>
  </div>

  <ng-template #bottomMenu>
    <div
      class="bottom-menu"
      [class.expanded]="bottomMenuExpanded"
      (panup)="bottomMenuPan$.emit('up')"
      (pandown)="bottomMenuPan$.emit('down')"
      @bottomMenu
    >
      <div class="avatar-bar">
        <div class="bar-background"></div>
        <div class="wrapper-background"></div>
        <rpl-nav-avatar class="avatar"></rpl-nav-avatar>
      </div>
      <div class="content">
        <rpl-nav-menu></rpl-nav-menu>
      </div>
    </div>
  </ng-template>
</ng-container>
