<div class="primary-line">
  <button mat-button class="logo" (click)="onLogoClick()">
    <div class="logo-content">
      <mat-icon
        class="logo-arrow"
        fontSet="filled"
        fontIcon="arrow_drop_up"
        [@arrow]="!!bottomMenuOpened"
      ></mat-icon>
      <mat-icon class="logo-icon" svgIcon="logo"></mat-icon>
      <span class="logo-text">Reply</span>
    </div>
  </button>
</div>

<div class="side-menu">
  <ng-container [ngTemplateOutlet]="menuContent"></ng-container>
</div>

<ng-template #bottomMenu>
  <div class="bottom-menu" @bottomMenu style="height: 400px">
    <ng-container [ngTemplateOutlet]="menuContent"></ng-container>
  </div>
</ng-template>

<ng-template #menuContent>
  <mat-nav-list class="menu-content">
    <a
      mat-list-item
      class="menu-content-item"
      *ngFor="
        let item of [
          { text: 'Inbox', icon: 'inbox', link: '/inbox' },
          { text: 'Starred', icon: 'star', link: '/todo' },
          { text: 'Sent', icon: 'send', link: '/todo' },
          { text: 'Trash', icon: 'delete', link: '/todo' },
          { text: 'Spam', icon: 'info', link: '/todo' },
          { text: 'Drafts', icon: 'email', link: '/todo' }
        ]
      "
      [routerLink]="item.link"
      routerLinkActive="active"
    >
      <mat-icon matListIcon fontSet="filled" [fontIcon]="item.icon"></mat-icon>
      <div matLine>{{ item.text }}</div>
    </a>
  </mat-nav-list>
</ng-template>
