@use '@angular/material' as mat;
@use 'styles/theming' as theming;

:host {
  display: inline-block;
  border-radius: 16px;
}

[mat-button] {
  border-radius: inherit;
  padding: initial;

  .wrapper {
    display: flex;
    align-items: center;
    padding: 16px 16px;
    position: relative;
    :host.dense & {
      padding: 4px 16px;
    }
  }

  .indicator-wrapper {
    position: absolute;
    top: 0;
    left: -4px;
    bottom: 0;
    display: flex;
    align-items: center;
  }

  .logo {
    height: 32px;
  }

  .text {
    margin-left: 16px;
    // TODO: use theme typography config
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}
