<ng-container
  *ngIf="
    config() ??
    {
      text: 'Compose',
      icon: editIconTemplate,
      link: '/compose',
      linkParams: {}
    } as config
  "
>
  <a mat-fab [routerLink]="config.link" [queryParams]="config.linkParams" @host>
    <span class="icon" [@icon]="config.icon">
      <ng-container [ngTemplateOutlet]="config.icon"></ng-container>
    </span>
    <span class="text">
      {{ config.text }}
    </span>
  </a>
</ng-container>

<ng-template #editIconTemplate>
  <mat-icon fontSet="filled" fontIcon="edit"></mat-icon>
</ng-template>
