:host {
  display: inline-block;
  border-radius: 16px;
}

[mat-button] {
  border-radius: inherit;
  padding: initial;

  .wrapper {
    display: flex;
    align-items: center;
    padding: 16px 16px;
    position: relative;
    :host.dense & {
      padding: 4px 16px;
    }
  }

  .indicator-wrapper {
    position: absolute;
    top: 0;
    left: -4px;
    bottom: 0;
    display: flex;
    align-items: center;
  }

  .text {
    margin-left: 16px;
    font-size: 20px;
    text-transform: uppercase;
  }
}
