@use 'sass:map' as map;
@use 'sass:color' as color;
@use '@angular/material' as mat;
@use 'styles/theming' as theming;

:host {
  display: contents;
}

:host {
  .positioner {
    grid-row: 1;
    grid-column: margin-left / margin-right;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: var(--color-surface);
  }

  .main {
    display: flex;
    width: calc(100% - 2 * 8px);
    max-width: 384px;
    height: 556px;
    flex-direction: column;
    align-items: stretch;
    background: var(--color-primary);
    z-index: 1;

    .header {
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 24px;
      color: var(--color-on-primary);
      .logo {
        height: 40px;
      }
    }

    .body {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 8px 16px;
      overflow: hidden;
    }
  }

  .decoration {
    position: absolute;
    inset: 0;
    background-image: url(../../assets/reply-overview.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    z-index: 0;
  }
}

:host-context(.tablet-portrait) {
  .main {
    height: 100%;
  }

  .decoration {
    position: unset;
    flex: 1;
    height: 100%;
    background-size: auto 100%;
  }
}

:host-context(.laptop) {
  .positioner {
    grid-column: col-3 / col-10;
  }
  .container {
    height: 72%;
  }
}
