@use 'sass:map' as map;
@use 'sass:color' as color;
@use '@angular/material' as mat;
@use 'styles/theming' as theming;

:host {
  display: contents;
}

.positioner {
  grid-row: 1;
  // grid-column: col-1 / col-4;
  // :host-context(.tablet-portrait) & {
  //   grid-column: col-2 / col-7;
  // }
  // :host-context(.tablet-landscape) & {
  //   grid-column: col-4 / col-9;
  // }
  :host-context(.laptop) & {
    grid-column: col-3 / col-10;
  }
  :host-context(.desktop) & {
    grid-column: col-4 / col-9;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  height: 540px;
  align-items: stretch;
  background: var(--color-surface);
}

.main {
  display: flex;
  width: 384px;
  flex-direction: column;
  align-items: stretch;
  background: var(--color-primary);

  .header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 24px;
    color: var(--color-on-primary);
    .logo {
      height: 32px;
    }
  }

  .body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8px 16px;
    overflow: hidden;
  }
}

.decoration {
  flex: 1;
  gap: 10px;
  background-image: url(../../assets/reply-overview.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
}
