@use 'sass:map' as map;
@use 'sass:color' as color;
@use '@angular/material' as mat;
@use 'styles/theming' as theming;

:host {
  display: contents;
}

.background {
  grid-row: 1;
  grid-column: margin-left / margin-right;
  background-color: map.get(theming.$theme, 'color', 'primary', 'default');
}

.container {
  grid-row: 1;
  grid-column: col-1 / col-4;
  :host-context(.tablet-portrait) & {
    grid-column: col-2 / col-7;
  }
  :host-context(.tablet-landscape) & {
    grid-column: col-4 / col-9;
  }
  :host-context(.laptop) & {
    grid-column: col-5 / col-8;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  width: calc(100% - 2 * 8px);
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  padding: 0 8px;
  color: map.get(theming.$theme, 'color', 'primary', 'default-contrast');
}

.heading {
  display: flex;
  align-items: center;
  gap: 8px;

  .logo {
    width: 48px;
  }
  .text {
    margin-bottom: 8px;
    @include mat.typography-level(theming.$typography-config, 'headline');
    text-transform: uppercase;
  }
}

.body {
  a {
    text-decoration: underline;
  }
  mat-checkbox:not(.mat-checkbox-disabled) ::ng-deep {
    .mat-checkbox-frame {
      border-color: map.get(
        theming.$theme,
        'color',
        'primary',
        'default-contrast'
      );
    }
  }
  mat-checkbox.mat-checkbox-disabled ::ng-deep {
    .mat-checkbox-label {
      color: color.change(
        map.get(theming.$theme, 'color', 'primary', 'default-contrast'),
        $alpha: map.get(theming.$theme, 'opacity', 'text', 'disabled')
      );
    }
  }
}

.actions {
  display: flex;
  gap: 16px;
  button {
    text-transform: uppercase;
  }
}
