@use 'sass:map' as map;
@use '@angular/material' as mat;
@use 'styles/theming' as theming;

:host {
  display: block;
  background-color: map.get(theming.$theme, 'color', 'background', 'card');
}

rpl-scrollable-area {
  height: 100%;
}

.wrapper {
  height: 100%;
  padding: 16px;
  :host-context(.tablet-portrait) & {
    padding: 32px 16px;
  }
}

.title-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .subject {
    @include mat.typography-level(theming.$typography-config, 'headline');
  }
}

.info-line {
  margin-top: 8px;
  display: flex;
  align-items: center;
  .left-group {
    flex-grow: 1;
  }
}

.content {
  margin-top: 16px;
  white-space: pre-line;
}
