<div class="wrapper">
  <div class="title-line" lpjNode>
    <div class="subject">
      {{ mail.subject }}
    </div>
    <a mat-icon-button routerLink="..">
      <mat-icon fontSet="filled" fontIcon="expand_more"></mat-icon>
    </a>
  </div>

  <div class="info-line" lpjNode>
    <div class="left-group">
      <div class="mat-body-1">
        <span>{{ sender.name ?? sender.email }}</span> -
        <span>{{ mail.sentAt | readableDate }}</span>
      </div>
      <div class="mat-small">
        <span>
          To
          {{ recipients | contactSort : user.id | contactStringify : user.id }}
        </span>
      </div>
    </div>
    <div class="right-group">
      <rpl-mail-avatar
        lpjNode="mail-{{ mail.id }}-avatar"
        [src]="sender.avatarUrl"
      ></rpl-mail-avatar>
    </div>
  </div>

  <div class="content" lpjNode>{{ mail.content }}</div>
</div>
