@use 'sass:map' as map;
@use '@angular/material' as mat;
@use '@angular/material/theming' as mat-theming;

// prettier-ignore
$typography-config: mat.define-typography-config(
  $font-family:   '"Work Sans", sans-serif',
  $display-4:     mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3:     mat.define-typography-level(56px, 56px, 600, $letter-spacing: -0.02em),
  $display-2:     mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1:     mat.define-typography-level(34px, 40px, 400),
  $headline:      mat.define-typography-level(24px, 32px, 700),
  $title:         mat.define-typography-level(20px, 32px, 500),
  $subheading-2:  mat.define-typography-level(16px, 28px, 400),
  $subheading-1:  mat.define-typography-level(15px, 24px, 500),
  $body-2:        mat.define-typography-level(18px, 24px, 400),
  $body-1:        mat.define-typography-level(14px, 20px, 400),
  $caption:       mat.define-typography-level(12px, 20px, 400),
  $button:        mat.define-typography-level(14px, 14px, 500),
  $input:         mat.define-typography-level(inherit, 1.125, 400),
);

$primary-palette: (
  600: #4a6572,
  700: #344955,
  800: #232f34,
  contrast: (
    600: mat-theming.$light-primary-text,
    700: mat-theming.$light-primary-text,
    800: mat-theming.$light-primary-text,
  ),
);

$accent-palette: (
  500: #f9aa33,
  contrast: (
    500: mat-theming.$dark-primary-text,
  ),
);

$theme: map.deep-merge(
  mat.define-light-theme(
    $primary: mat.define-palette($primary-palette, 700, 600, 800),
    $accent: mat.define-palette($accent-palette, 500, 500, 500),
  ),
  (
    color: (
      background: (
        background: #edf0f2,
      ),
    ),
  )
);
