@use 'sass:map' as map;
@use '@angular/material' as mat;
@use 'theming' as theming;

@import 'https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons+Two+Tone';

@include mat.core(theming.$typography-config);
@include mat.all-component-themes(theming.$theme);

body {
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: initial;
}
