@use 'theming' as theming;

@import 'https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;900&display=swap';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

@include theming.material-styles();

body {
  margin: 0;
  overscroll-behavior: none;
}

a {
  color: currentColor;
  text-decoration: initial;
  &:focus-visible {
    outline: none;
  }
}

// bug fix
.mat-icon-button .mat-button-wrapper {
  display: inline-block;
  transform: translateY(-2px);
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Prevent <router-outlet> elements from interfering the layout because they
// can be blocks in certain layouts.
router-outlet {
  display: none;
}
