<ng-container *ngIf="breakpoints$ | async as breakpoints">
  <ng-container *ngIf="layoutConfig.value$ | async as layoutConfig">
    <div
      class="background"
      [class.clipped]="!breakpoints['tablet-portrait'] && !bottomMenuOpened"
    ></div>

    <div class="content" scrolling="scrolling">
      <div class="primary-line">
        <div class="group">
          <rpl-nav-logo-button
            [indicator]="!breakpoints['tablet-portrait'] ? arrow : undefined"
            [dense]="!breakpoints['tablet-portrait']"
            [expanded]="breakpoints['laptop']"
            (click)="logoClick$.emit()"
          ></rpl-nav-logo-button>
          <ng-template #arrow>
            <mat-icon
              fontSet="filled"
              fontIcon="arrow_drop_up"
              [@arrow]="!!bottomMenuOpened"
            ></mat-icon>
          </ng-template>
        </div>
        <div class="group" *ngIf="breakpoints['laptop']">
          <rpl-nav-avatar-button></rpl-nav-avatar-button>
          <rpl-settings-button></rpl-settings-button>
        </div>
        <div class="group" *ngIf="!breakpoints['tablet-portrait']">
          <ng-container
            *ngIf="
              bottomMenuOpened
                ? settingsButtonPortal
                : layoutConfig.navBottomActionsPortal as portal
            "
          >
            <div class="wrapper" [@bottomActions]="portal">
              <ng-container [cdkPortalOutlet]="portal"></ng-container>
            </div>
          </ng-container>
          <ng-template cdkPortal #settingsButtonPortal="cdkPortal">
            <rpl-settings-button></rpl-settings-button>
          </ng-template>
        </div>
      </div>

      <rpl-nav-floating-action-button
        class="fab"
        *ngIf="!bottomMenuOpened"
        [expanded]="breakpoints['laptop']"
        @fab
      ></rpl-nav-floating-action-button>

      <rpl-nav-menu
        class="menu"
        *ngIf="breakpoints['tablet-portrait']"
        [expanded]="breakpoints['laptop']"
      ></rpl-nav-menu>
    </div>

    <ng-template #bottomMenu>
      <rpl-nav-bottom-menu
        [expanded]="bottomMenuExpanded"
        (panup)="bottomMenuPan$.emit('up')"
        (pandown)="bottomMenuPan$.emit('down')"
        @bottomMenu
      ></rpl-nav-bottom-menu>
    </ng-template>
  </ng-container>
</ng-container>
