<ng-container *ngIf="mode$ | async as mode">
  <ng-container *ngIf="layoutConfig.value$ | async as layoutConfig">
    <div
      class="background"
      [class.clipped]="mode === 'bar' && !bottomMenuOpened"
    ></div>

    <div class="content" scrolling="scrolling">
      <div class="primary-line">
        <div class="group">
          <rpl-nav-logo-button
            [indicator]="mode === 'bar' ? arrow : undefined"
            [dense]="mode === 'bar'"
            [expanded]="mode === 'drawer'"
            (click)="logoClick$.emit()"
          ></rpl-nav-logo-button>
          <ng-template #arrow>
            <mat-icon
              fontSet="filled"
              fontIcon="arrow_drop_up"
              [@arrow]="!!bottomMenuOpened"
            ></mat-icon>
          </ng-template>
        </div>
        <div class="group" *ngIf="mode === 'drawer'">
          <rpl-nav-avatar-button></rpl-nav-avatar-button>
          <rpl-settings-button></rpl-settings-button>
        </div>
        <div class="group" *ngIf="mode === 'bar'">
          <ng-container
            *ngIf="
              bottomMenuOpened
                ? settingsButtonPortal
                : layoutConfig.navBottomActionsPortal as portal
            "
          >
            <div class="wrapper" [@bottomActions]="portal">
              <ng-container [cdkPortalOutlet]="portal"></ng-container>
            </div>
          </ng-container>
          <ng-template cdkPortal #settingsButtonPortal="cdkPortal">
            <rpl-settings-button></rpl-settings-button>
          </ng-template>
        </div>
      </div>

      <rpl-nav-floating-action-button
        class="fab"
        *ngIf="!bottomMenuOpened"
        [expanded]="mode === 'drawer'"
        @fab
      ></rpl-nav-floating-action-button>

      <rpl-nav-menu
        class="menu"
        *ngIf="mode === 'rail' || mode === 'drawer'"
        [expanded]="mode === 'drawer'"
      ></rpl-nav-menu>
    </div>

    <ng-template #bottomMenu>
      <rpl-nav-bottom-menu
        [expanded]="bottomMenuExpanded"
        [style.touch-action]="bottomMenuExpanded ? 'pan-down' : 'none'"
        (panup)="bottomMenuPan$.emit('up')"
        (pandown)="bottomMenuPan$.emit('down')"
        @bottomMenu
      ></rpl-nav-bottom-menu>
    </ng-template>
  </ng-container>
</ng-container>
