<ng-container
  *ngIf="mail.sender | resolveRef : contactRepo | async as mailSender"
>
  <div class="overlay"></div>
  <div class="ripple" matRipple></div>
  <div class="content">
    <div class="headline">
      <div class="titles" lpjNode>
        <div class="subtitle">
          <span>{{ mailSender.name }}</span> -
          <span>{{ mail.sentAt | readableDate }}</span>
        </div>
        <div class="title">
          <a routerLink="./{{ mail.id }}" #anchor>{{
            mail.subject ?? '(no subject)'
          }}</a>
        </div>
      </div>
      <div class="actions" lpjNode (click)="$event.stopPropagation()">
        <ng-container *ngIf="breakpoints()['tablet-portrait']">
          <rpl-mail-star-button [mail]="mail"></rpl-mail-star-button>
          <rpl-mail-delete-button [mail]="mail"></rpl-mail-delete-button>
          <button mat-icon-button>
            <mat-icon fontSet="filled" fontIcon="more_vert"></mat-icon>
          </button>
        </ng-container>
        <button
          mat-icon-button
          class="avatar-button"
          lpjNode="mail-{{ mail.id }}-avatar"
        >
          <rpl-mail-avatar [src]="mailSender.avatarUrl"></rpl-mail-avatar>
        </button>
      </div>
    </div>
    <div class="overview" *ngIf="!mail.isRead">{{ mail.snippet }}</div>
  </div>
</ng-container>
