@use 'sass:map' as map;
@use 'sass:color' as color;
@use 'src/styles/theming' as theming;

:host {
  display: block;
  padding: 16px;
  background-color: map.get(theming.$theme, 'color', 'background', 'card');
  cursor: pointer;
  position: relative;
  :host-context(.tablet-portrait) & {
    padding: 24px;
  }
}

%position-background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

%single-line-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.overlay {
  @extend %position-background;
  background-color: map.get(theming.$theme, 'color', 'foreground', 'base');
  opacity: 0;
  :host:hover & {
    opacity: map.get(theming.$theme, 'opacity', 'overlay', 'hover');
  }
}

.ripple {
  @extend %position-background;
}

.headline {
  display: flex;
  justify-content: space-between;

  .titles {
    width: 0;
    flex-grow: 1;
    .subtitle {
      @extend %single-line-text;
      margin-bottom: 0;
    }
    .title {
      @extend %single-line-text;
      margin-bottom: 0;
      :host.read & {
        color: map.get(theming.$theme, 'color', 'foreground', 'secondary-text');
      }
    }
  }

  .actions {
    display: flex;
    gap: 8px;
    mat-icon {
      :host.read & {
        color: map.get(theming.$theme, 'color', 'foreground', 'secondary-text');
      }
    }
    .avatar-button {
      :host:hover & {
        background-color: #ffffff;
      }
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }
}

.overview {
  @extend %single-line-text;
  margin-top: 8px;
  height: map.get(theming.$typography-config, 'body-1', 'line-height');
  white-space: pre;
}
