@use 'sass:map' as map;
@use 'styles/theming' as theming;

:host {
  display: grid;
  height: 100%;

  background-color: map.get(
    theming.$theme,
    'color',
    'background',
    'background'
  );

  column-gap: 8px;
  grid-template-rows: 100%;
  grid-template-columns: 0px repeat(4, 1fr) 0px;
  &.tablet-portrait {
    column-gap: 32px;
    grid-template-columns: 0px repeat(8, 1fr) 0px;
  }
  &.tablet-landscape {
    grid-template-columns: 0px repeat(12, 1fr) 0px;
  }

  overflow: hidden; // animations might cause overflow
}

rpl-side-nav {
  grid-row: 1;
  grid-column: 1 / span 2;
  :host-context(.tablet-landscape) & {
    grid-column: 1 / span 2;
  }
  :host-context(.laptop) & {
    grid-column: 1 / span 4;
  }

  &:not(.on-grid) {
    width: 100px;
    &.expanded {
      width: 300px;
    }
  }
}

.wrapper {
  display: contents;
}
