<!-- <ng-container *ngIf="breakpoints$ | async as breakpoints">
  <ng-container
    *ngIf="{
      navShouldRender: breakpoints['tablet-portrait'],
      navShouldExpand: breakpoints['laptop']
    } as context"
  >
    <rpl-side-nav
      *ngIf="context.navShouldRender"
      [class.expanded]="navExpanded"
      [class.on-grid]="navExpanded === undefined"
      [expanded]="navExpanded ?? context.navShouldExpand"
      (expandedChange)="
        navExpanded = $event === context.navShouldExpand ? undefined : $event
      "
    ></rpl-side-nav>
    <div class="wrapper" [@wrapper]="getChildRouteAnimationId()">
      <router-outlet></router-outlet>
    </div>
  </ng-container>
</ng-container> -->

<div class="container" rplLayoutProjectionNode [animateLayoutOn]="flag$">
  <div
    class="box"
    rplLayoutProjectionNode="box"
    *ngIf="flag$.value"
    (click)="onClick()"
  >
    <div class="circle" rplLayoutProjectionNode="circle"></div>
  </div>
  <div
    class="box flag"
    rplLayoutProjectionNode="box"
    *ngIf="!flag$.value"
    (click)="onClick()"
  ></div>
</div>
