<ng-container *ngIf="breakpoints$ | async as breakpoints">
  <div class="overlay"></div>
  <div class="ripple" matRipple></div>
  <div class="headline">
    <div class="titles">
      <h5 class="subtitle">
        <span>{{ mail.sender.name }}</span> -
        <span>{{ mail.sentAt | dateDistance }}</span>
      </h5>
      <h1 class="title">
        <a routerLink="./{{ mail.id }}" #anchor>{{ mail.subject }}</a>
      </h1>
    </div>
    <div class="actions" (click)="$event.stopPropagation()">
      <ng-container *ngIf="breakpoints['tablet-landscape']">
        <rpl-mail-star-button [mail]="mail"></rpl-mail-star-button>
        <button mat-icon-button>
          <mat-icon svgIcon="delete"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon fontSet="filled" fontIcon="more_vert"></mat-icon>
        </button>
      </ng-container>
      <button mat-icon-button class="avatar-button">
        <img [src]="mail.sender.avatarUrl | avatarUrlDefault" alt="Avatar" />
      </button>
    </div>
  </div>
  <div class="overview" *ngIf="!isRead">{{ mail.content }}</div>
</ng-container>
