@use 'sass:map' as map;
@use 'sass:color' as color;
@use 'styles/theming' as theming;
@use 'styles/scrollbar' as scrollbar;

:host {
  display: block;
  @include scrollbar.scrollbar(
    $regular-color:
      color.change(
        map.get(theming.$theme, 'color', 'foreground', 'base'),
        $alpha: 0.12
      ),
    $hover-color:
      color.change(
        map.get(theming.$theme, 'color', 'foreground', 'base'),
        $alpha: 0.4
      ),
    $activation-selector: '.scrolling'
  );
}
