@use 'sass:map' as map;
@use 'src/styles/theming' as theming;
@use 'src/styles/scrollbar' as scrollbar;

:host {
  display: grid;
  background-color: map.get(
    theming.$theme,
    'color',
    'background',
    'background'
  );

  column-gap: 8px;
  grid-template-rows: 100vh;
  grid-template-columns: 0px repeat(4, 1fr) 0px;
  &.tablet-portrait {
    column-gap: 32px;
    grid-template-columns: 0px repeat(8, 1fr) 0px;
  }
  &.tablet-landscape {
    grid-template-columns: 0px repeat(12, 1fr) 0px;
  }
}

.nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  :host-context(.tablet-portrait) & {
    position: relative;
    grid-column: 1 / span 2;
  }
  :host-context(.tablet-landscape) & {
    grid-column: 1 / span 2;
  }
  :host-context(.laptop) & {
    grid-column: 1 / span 4;
  }
}

.main {
  grid-column: 1 / -1;
  padding: 4px 4px;
  overflow-y: auto;
  :host-context(.tablet-portrait) & {
    grid-column: span 7 / -2;
    padding: 32px 0;
    @include scrollbar.scrollbar(
      map.get(theming.$theme, 'color', 'foreground', 'divider')
    );
  }
  :host-context(.tablet-landscape) & {
    grid-column: span 9 / -3;
  }
  :host-context(.laptop) & {
    grid-column: span 7 / -3;
  }
}

.actions {
  :host-context(.tablet-portrait) & {
    position: absolute;
    top: 16px;
    right: 0px;
  }
  :host-context(.tablet-landscape) & {
    position: initial;
    grid-column: -3 / -2;
    padding: 16px 0;
  }
}
