@use '@angular/material' as mat;
@use 'styles/theming' as theming;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search-bar {
  input {
    width: 0;
    flex-grow: 1;
    @include mat.typography-level(theming.$typography-config, 'body-2');
  }
}

.search-result {
  height: 0;
  flex-grow: 1;
}
