:host {
  display: inline-block;
}

button {
  $diameter: 56px;
  width: $diameter;
  height: $diameter;
  box-shadow: none !important;
  border-radius: calc($diameter / 2);

  :host.expanded & {
    width: unset;
    padding: 0 18px;
  }

  .text {
    margin: 0 16px;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}
