<ng-container *ngIf="layoutContext.value$ | async as layoutContext">
  <ng-container
    *ngIf="
      layoutContext.navFabConfig ??
      { text: 'Compose', icon: editIconTemplate, link: '/compose' } as config
    "
  >
    <a mat-fab [routerLink]="config.link" @host>
      <span class="icon" [@icon]="config.icon">
        <ng-container [ngTemplateOutlet]="config.icon"></ng-container>
      </span>
      <span class="text">
        {{ config.text }}
      </span>
    </a>
  </ng-container>
</ng-container>

<ng-template #editIconTemplate>
  <mat-icon fontSet="filled" fontIcon="edit"></mat-icon>
</ng-template>
