@use 'sass:map' as map;
@use 'styles/theming' as theming;
@use 'three-dots' with (
  $dot-color: map.get(theming.$theme, 'color', 'primary', 'default-contrast')
);

:host {
  grid-row: 1;
  grid-column: margin-left / margin-right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-bottom: 8vh;
  color: map.get(theming.$theme, 'color', 'primary', 'default-contrast');
  background-color: map.get(theming.$theme, 'color', 'primary', 'default');
}

.logo {
  width: 96px;
}
