<div class="wrapper" scrolling="scrolling">
  <div class="primary-line">
    <div class="group">
      <rpl-nav-logo-button
        [indicator]="arrow"
        [expanded]="expanded"
        (click)="expandedChange.emit(!expanded)"
      ></rpl-nav-logo-button>
      <ng-template #arrow>
        <mat-icon
          fontSet="filled"
          fontIcon="arrow_right"
          [@arrow]="expanded"
        ></mat-icon>
      </ng-template>
    </div>
    <div class="group" *ngIf="expanded">
      <rpl-nav-avatar-button></rpl-nav-avatar-button>
      <rpl-settings-button></rpl-settings-button>
    </div>
  </div>

  <rpl-nav-floating-action-button
    class="fab"
    [expanded]="expanded"
    @fab
  ></rpl-nav-floating-action-button>

  <rpl-nav-menu class="menu" [expanded]="expanded"></rpl-nav-menu>
</div>
