<div class="text">
  <p>
    <a href="https://github.com/TheNightmareX/reply">Reply</a> is an open source
    Gmail web client inspired by the
    <a href="https://m2.material.io/design/material-studies/reply.html"
      >"Reply"</a
    >
    Material Design example by Google.
  </p>
  <p>
    This application is completely client-side: your data will be fetched
    directly from Google and stored in your local browser.
  </p>
  <p>
    To continue, permission of <b>full control</b> of your Gmail data needs to
    be authorized. The developer is not responsible for any data damage caused
    by the use of this application.
  </p>
</div>

<button
  mat-flat-button
  class="action"
  color="accent"
  [disabled]="busy$ | async"
  (click)="buttonClick.emit()"
>
  Continue
</button>
