:host {
  display: flex;
  width: calc(100% - 48px);
  max-width: 288px;
  height: 356px;
  flex-direction: column;
  padding: 16px 0;
}

.text {
  flex: 1;
  color: var(--color-on-primary-1);
  a {
    text-decoration: underline;
  }
}

.action {
  text-transform: uppercase;
}
