:host {
  display: contents;
}

.content-wrapper {
  position: relative;

  grid-row: 1;
  grid-column: margin-left / margin-right;
  :host-context(.tablet-portrait) & {
    grid-column: col-2 / col-8;
  }
  :host-context(.tablet-landscape) & {
    grid-column: col-3 / col-11;
  }
  :host-context(.laptop) & {
    grid-column: col-5 / col-11;
  }

  .content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .list {
    margin: 4px 4px;
    :host-context(.tablet-portrait) & {
      margin: 32px 0;
    }
  }

  .empty-prompt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.actions {
  :host-context(.tablet-portrait) & {
    position: absolute;
    top: 16px;
    right: 0px;
  }
  :host-context(.tablet-landscape) & {
    position: initial;
    grid-row: 1;
    grid-column: col-12;
    padding: 16px 0;
  }
}
