<ng-container *ngIf="breakpoints$ | async as breakpoints">
  <ng-container *ngIf="navigationContext.value$ | async as navigationContext">
    <ng-container *ngIf="mailboxName$ | async as mailboxName">
      <div
        class="content-wrapper"
        [@content]="navigationContext.latestMailboxIndex"
        rplLayoutProjectionNode
        [animateLayoutOn]="mailboxName"
        [animationDuration]="300"
        [animationEasing]="AnimationCurves.STANDARD_CURVE"
      >
        <rpl-content class="content" *rplReattachOnChange="mailboxName">
          <rpl-mail-card-list class="list" #list></rpl-mail-card-list>
          <div class="empty-prompt" *ngIf="!(list.mails$ | async)?.length">
            Empty in {{ mailboxName }}
          </div>
        </rpl-content>
      </div>
      <div class="actions" *ngIf="breakpoints['tablet-portrait']">
        <rpl-search-button></rpl-search-button>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
