@use 'sass:map' as map;
@use 'sass:color' as color;
@use 'src/styles/theming' as theming;

:host {
  display: block;
}

.item {
  color: inherit;
  &.active {
    color: map.get(theming.$theme, 'color', 'accent', 'default');
  }

  ::ng-deep {
    .mat-list-item-content {
      padding: 0 16px;
      :host-context(.tablet-portrait) & {
        padding: initial;
        justify-content: center;
      }
      :host-context(.laptop) & {
        padding: 0 16px;
      }
    }

    .mat-list-text {
      :host-context(.tablet-portrait) & {
        display: none;
      }
      :host-context(.laptop) & {
        display: initial;
      }
    }
  }
}

.divider {
  width: 60%;
  margin: 16px 20px;
  border-top: 1px solid
    color.change(
      map.get(theming.$theme, 'color', 'primary', 'default-contrast'),
      $alpha:
        color.alpha(map.get(theming.$theme, 'color', 'foreground', 'divider'))
    );
  :host-context(.laptop) & {
    display: block;
    width: calc(100% - 32px);
    margin: 16px auto;
  }
}

.subheader {
  margin: 0 20px;
  font-size: 12px;
  text-transform: uppercase;
  color: color.change(
    map.get(theming.$theme, 'color', 'primary', 'default-contrast'),
    $alpha:
      color.alpha(
        map.get(theming.$theme, 'color', 'foreground', 'secondary-text')
      )
  );
}
