<ng-container *ngIf="breakpointManager.breakpoints$ | async as breakpoints">
  <mat-nav-list>
    <a
      mat-list-item
      class="item"
      *ngFor="
        let item of [
          { text: 'Inbox', icon: 'inbox', link: 'inbox' },
          { text: 'Starred', icon: 'star', link: 'starred' },
          { text: 'Sent', icon: 'send', link: 'sent' },
          { text: 'Trash', icon: 'delete', link: 'trash' },
          { text: 'Spam', icon: 'report', link: 'spam' },
          { text: 'Drafts', icon: 'drafts', link: 'drafts' }
        ]
      "
      routerLink="/mails/{{ item.link }}"
      routerLinkActive="active"
    >
      <mat-icon matListIcon [svgIcon]="item.icon"></mat-icon>
      <div matLine>{{ item.text }}</div>
    </a>

    <ng-container
      *ngIf="!breakpoints['tablet-portrait'] || breakpoints['laptop']"
    >
      <div class="divider"></div>

      <div class="subheader">Folders</div>

      <a
        mat-list-item
        class="item"
        *ngFor="
          let item of [
            { text: 'Receipts', link: 'Receipts' },
            { text: 'Pine Elementary', link: 'Pine Elementary' },
            { text: 'Taxes', link: 'Taxes' },
            { text: 'Vacation', link: 'Vacation' },
            { text: 'Mortgage', link: 'Mortgage' },
            { text: 'Freelance', link: 'Freelance' }
          ]
        "
        routerLink="/mails/folder/{{ item.link }}"
        routerLinkActive="active"
      >
        <mat-icon
          matListIcon
          fontSet="filled"
          fontIcon="folder_open"
        ></mat-icon>
        <div matLine>{{ item.text }}</div>
      </a>
    </ng-container>
  </mat-nav-list>
</ng-container>
