<ng-container *ngIf="user() as user">
  <ng-container
    *ngIf="mail.sender | resolveRef : contactRepo | async as sender"
  >
    <ng-container
      *ngIf="
        mail.recipients ?? [] | resolveRef : contactRepo | async as recipients
      "
    >
      <rpl-mail
        data-route-animation-target
        [user]="user"
        [mail]="mail"
        [sender]="sender"
        [recipients]="recipients"
        lpjNode="mail-{{ mail.id }}"
      ></rpl-mail>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #bottomActions>
  <rpl-mail-star-button [mail]="mail" />
  <rpl-mail-delete-button [mail]="mail" routerLink=".." />
  <rpl-mail-action-menu-button
    [mail]="mail"
    [currentMailbox]="mailboxAsEntity"
  />
</ng-template>

<ng-template #replyIcon>
  <mat-icon svgIcon="reply"></mat-icon>
</ng-template>
