:host {
  display: contents;
}

rpl-scrollable-area {
  grid-row: 1;
  grid-column: margin-left / margin-right;
  :host-context(.tablet-portrait) & {
    grid-column: col-2 / col-8;
  }
  :host-context(.tablet-landscape) & {
    grid-column: col-2 / col-12;
  }
  :host-context(.laptop) & {
    grid-column: col-4 / col-12;
  }
  z-index: 1; // cover the mail list in layout animation
}

rpl-mail {
  padding: 4px;
  min-height: calc(100% - 4px * 2);
}
